extends ../layout

block body
  .row
    .col-sm-30
      h2 Add an Item

  form.item-form(role="form" action="/items" method="post")
    .row
      .col-sm-30
        h3 Basics

    .row
      .col-sm-15
        != input.labeledText('name', {tabindex: 1})
      .col-sm-15
        != input.labeledNumber('serving_size', {addon: 'g', tabindex: 2})

    .row
      .col-sm-30
        h3 Essentials

    .row.field-group
      .col-sm-15
        != input.labeledNumber('calories', {addon: 'g', tabindex: 3})
      .col-sm-15
        != input.labeledNumber('calories_from_fat', {addon: 'g'})

    .row
      .col-sm-30
        != input.labeledNumber('protein', {addon: 'g', tabindex: 4})

    .row.field-group
      .col-sm-6
        != input.labeledNumber('total_fat', {addon: 'g', tabindex: 5})
      .col-sm-6
        != input.labeledNumber('saturated_fat', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('trans_fat', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('polyunsaturated_fat', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('monounsaturated_fat', {addon: 'g'})

    .row.field-group
      .col-sm-6
        != input.labeledNumber('total_carbohydrates', {addon: 'g', tabindex: 6})
      .col-sm-6
        != input.labeledNumber('fiber', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('soluble_fiber', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('sugars', {addon: 'g'})
      .col-sm-6
        != input.labeledNumber('other_carbohydrates', {addon: 'g'})

    .row
      .col-sm-30
        != input.labeledNumber('cholesterol', {addon: 'g'})

    .row
      .col-sm-30
        h3 Vitamins

    .row
      .col-sm-10
        != input.labeledNumber('vitamin_a', {label: 'Vitamin A', addon: 'g'})
        != input.labeledNumber('thiamin', {label: 'Thiamin (Vitamin B1)', addon: 'g'})
        != input.labeledNumber('riboflavin', {label: 'Riboflavin (Vitamin B2)', addon: 'g'})
        != input.labeledNumber('niacin', {label: 'Niacin (Vitamin B3)', addon: 'g'})
      .col-sm-10
        != input.labeledNumber('vitamin_b6', {label: 'Vitamin B6', addon: 'g'})
        != input.labeledNumber('total_vitamin_b9', {label: 'Folate / folic acid (Vitamin B9)', addon: 'g'})
        != input.labeledNumber('vitamin_b12', {label: 'Vitamin B12', addon: 'g'})
        != input.labeledNumber('vitamin_c', {label: 'Vitamin C', addon: 'g'})
      .col-sm-10
        != input.labeledNumber('vitamin_d', {label: 'Vitamin D', addon: 'g'})
        != input.labeledNumber('vitamin_e', {label: 'Vitamin E', addon: 'g'})
        != input.labeledNumber('vitamin_k', {label: 'Vitamin K', addon: 'g'})

    .row
      .col-sm-30
        h3 Minerals

    .row
      .col-sm-10
        != input.labeledNumber('calcium', {addon: 'g'})
        != input.labeledNumber('copper', {addon: 'g'})
        != input.labeledNumber('iron', {addon: 'g'})
      .col-sm-10
        != input.labeledNumber('magnesium', {addon: 'g'})
        != input.labeledNumber('manganese', {addon: 'g'})
        != input.labeledNumber('phosphorus', {addon: 'g'})
      .col-sm-10
        != input.labeledNumber('potassium', {addon: 'g'})
        != input.labeledNumber('sodium', {addon: 'g'})
        != input.labeledNumber('zinc', {addon: 'g'})

    .row.buttons
      .col-sm-30
        button.btn.btn-primary(type="submit") Create Item
