$grid-columns = 30

@import 'bootstrap'
@import 'meal_planner/mixins'
@import 'meal_planner/grid'

body
  margin: 30px

.item-form
  .field-group *:nth-of-type(n+2) label
    font-size: 90%

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    display: none

  input.error
    background-color: #fff0f0

  p.error
    color: red
    font-style: italic

  .buttons
    text-align: center

.form-group.required label:after
  content: " *"
  color: red
