doctype 5
html
  head
    title Meal Planner
    block head
    link(rel="stylesheet" href="/assets/application.css")
  body
    .container
      != notifications()

      block body

    script(src="/assets/bundle.js")
